<div id=tag_container" class="span2 offset3">
  <%= form_tag(recipes_path + '/feelings', :method => "get") do %>
    <%= text_field_tag('search_input', 'What you wanna taste...') %>
  <% end %>
</div>
